@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/* body {
  background: #000;
} */

/*new nav h1 and toggle button*/
h1 {
  /* background-color: black;
  text-align: center;
  padding: 10px 10px 10px 10px; */
  /* background-color: black;
  text-align: left;
  padding: 10px 10px 10px 30px;
  font-size: 3rem;
  color: white;
  font-family: "Montserrat";
  font-weight: 300; */
  /*text-decoration: underline;
  text-decoration-thickness: 1px;*/
  text-align: left;
  padding: 10px 10px 10px 30px;
  font-size: 3rem;
  color: white;
  font-family: "Montserrat";
  font-weight: 300;
}

header {
  background-color: black;
  position: sticky;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/*position from right for toggle*/
header nav div {
  margin-right: 25px;
}

.checkbox {
  opacity: 0;
  position: fixed;
  top: 5px;
  margin-left: 50px;
}

.label {
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.label .ball {
  height: 22px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/*large current weather display*/
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  display: flex;
  gap: 35px;
  padding: 35px;
}

/* location input box*/
.weather-input input {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 0 14px;
  font-size: 1.08rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 20px 0;
  font-family: "Montserrat";
}

/**buttons / hover over effect / in effect**/
.weather-input button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background: black;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.weather-input button:hover {
  /* background-color: #333; */
  background-color: rgb(27, 27, 27);
  transform: translateY(0px);
  border-width: 0.2px;
  border-color: white;
}

.weather-input button:active {
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5px);
    /* Move button up */
  }

  100% {
    transform: translateY(0);
    /* Return button to its original position */
  }
}

.weather-input button.bounce {
  animation: bounce 0.2s;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #bbb;
  align-items: center;
  justify-content: center;
}
/** line between buttons**/
.weather-input .separator::before {
  color: #6c757d;
  font-size: 1.18rem;
  padding: 0 15px;
  background: #e3f2fd;
  margin-top: -4px;
  align-items: center;
  justify-content: center;
}

.weather-input .location-btn {
  background: rgb(157, 171, 157);
}

.weather-input {
  width: 500px;
}

.weather-data {
  width: 100%;
}

/*main box for weather*/
.current-weather {
  color: black;
  border-radius: 5px;
  padding: 20px 60px 20px 20px;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.current-weather h2 {
  font-size: 1.8rem;
}

.weather-data h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 600;
}

.current-weather .icon h4 {
  margin-top: -10px;
  text-transform: capitalize;
}

.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.days-forecast h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.weather-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*3 hour card styling*/
.weather-cards .card {
  list-style: none;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(85, 85, 85, 0.274);
  padding: 8px;
  border-radius: 5px;
  margin: 10px 5px;
  width: 20%;
  /* width: 98%; */
  /* margin-bottom: 20px; */
}

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

#error {
  color: #fff;
  margin-bottom: 20px;
  height: 30px;
  font-size: 15px;
  width: 35%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

#weather-condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weather-icon {
  width: 100px;
  position: absolute;
  right: 100px;
  top: 30px;
}

#loading-data {
  color: red;
  font-size: large;
  margin-bottom: 20px;
}

#toggle-background {
  font-size: small;
  border: 2px solid #000;
  position: relative;
  top: 10px;
  left: 90%;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

#toggle-background span {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  margin: 1px;
}

.humidity {
  background-color: #f3ef0f;
  color: #000;
  border-radius: 50%;
  padding: 5px;
  font-size: small;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}

.wind {
  color: #000;
  border-radius: 50%;
  padding: 10px;
  font-size: small;
  display: inline-block;
  text-align: center;
  position: relative;
}

.temp {
  color: #000;
  border-radius: 50%;
  padding: 5px;
  font-size: small;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 616px) {
  h2,
  h3 {
    text-align: center;
  }

  #error {
    width: 50%;
  }

  #weather-icon {
    right: 5px;
    top: 50px;
  }

  .weather-cards {
    flex-direction: column;
  }

  .weather-cards .card {
    width: 98%;
    margin-bottom: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
  }
  header {
    background-color: black;
    position: sticky;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header nav div {
    margin-right: 20px;
  }

  #toggle-background {
    top: 10px;
    left: 80%;
    width: 50px;
  }
}

@media (max-width: 768px) {
  h2,
  h3 {
    text-align: center;
  }

  .container {
    flex-wrap: wrap;
    padding: 5px;
  }

  .weather-cards {
    padding: 5px;
    margin: 5px;
  }
  .weather-input {
    width: 100%;
    padding: 5px;
  }
}

@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 -15px);
  }
  .card-hidden {
    display: none;
  }
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 -15px);
  }
}

footer {
  background-image: url();
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  color: black;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  margin: 1px 20px 0px 20px;
  border-radius: 50%;
}

.socialIcons a:hover {
  color: #5372f0;
  transition: 0.5s;
}

.footerBottom {
  background-color: #5371cc;
  color: white;
  transition: 0.4s;
  background-color: #000;
  text-align: center;
  padding: 20px;
}

.designer {
  font-weight: bold;
}

.credit {
  color: #6c757d;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px 2px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.socialIcons a {
  margin: 0 10px;
  background-color: black;
  color: white;
  /* Adjust spacing between social icons */
}

.socialIcons a:hover {
  color: grey;
  transition: 0.5s;
}

.footerBottom {
  text-align: center;
  font-size: 14px;
  color: white;
}

.designer {
  font-weight: bold;
}

.footer-container img {
  display: none;
}
